/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body { height: 100%;
--p-toolbar-padding: 0px;--p-toolbar-border-radius: 0px; --p-menu-border-radius: 0px; --p-menu-item-padding: 15px;
  --p-toolbar-background: var(--p-rose-500); --p-menu-item-icon-color: var(--p-rose-500)!important;--p-menu-item-focus-background: var(--p-rose-200);
  --p-menu-item-icon-focus-color: var(--p-rose-500); --p-menu-background:var(--p-gray-50); --p-card-background: var(--p-gray-50)
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--p-gray-100);  }

h2 {
  color: var(--p-gray-600);
  font-weight: 500;
}

h4{
  color: white;
  font-weight: 500;

}
:root {
  color-scheme: light; /* or 'dark' */
}

